.category-menu-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 0;
}

.category-menu {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.category-menu::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.scroll-btn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 10px;
}

.category-menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-menu li {
  margin: 0 15px;
}

.category-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s ease;
  width: 150px;
  text-align: center;
  white-space: normal;
}

.category-menu a:hover {
  background-color: #f0f0f0;
  border-color: #ccc;
}
